.search {
    margin-top: 10px;
}

.search .searh_bar {
    padding: 40px 30px;
    background-color: rgb(249 250 251);
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search .searh_bar input {
    width: 50%;
    padding: 10px 15px;
    outline: none;
    border: 1.5px solid #cbc1c1;
    border-radius: 50px;
}

.search .searh_bar h1 {
    color: red;
    border: 1px solid red;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
}